/* Variables */
$primary: #2AB3DC;
$primary_rollover: #00829E;
$secondary:#EB8126;
$secondary_rollover: #E46C04;
$lightblue:#E9F5F8;
$lightgray:#E9ECEF;

/* Styles atomiques */
.background_primary {
    background-color: $primary;
}
.background_lightblue {
    background-color: $lightblue;
}

.logo{
    max-width: 200px;
}
.lien_nu{ 
    text-decoration: none;
    color: black;
}
.boxshadow-hover :hover {
    box-shadow: 10px 5px 5px red;
}
/* Styles généraux */
/** Boutons */
.btn-1{
    background-color: $secondary;
    color:white;
    :hover {
        background-color: $secondary_rollover;
    }
}

.lien-basic {
    color:$primary;
    :hover {
        color:$primary_rollover;
    }
}


/*Gestion des icones */
%icon_size {
    width:30px;
    height:30px;
}

.social_icons{
    @extend %icon_size;
    fill:$primary;
    :hover {
        fill:$primary_rollover;
    }
}
.avantage_icons{
    fill:white;
    @extend %icon_size;
}

/* Carroussel */
.text_carrousel{
    position:absolute;
    z-index:999;
    color:white;
    bottom:100px;
    width:100%;
    @media screen and (max-width : 1140px){
        bottom:30px;
    }
    @media screen and (max-width : 450px){
        bottom:10px;
    }
}

.h1-carroussel {
    font-size:3.5rem;
    @media screen and (max-width : 730px){
        font-size:1.7rem;
    }    
    @media screen and (max-width : 560px){
        font-size:1.5rem;
    }   
    @media screen and (max-width : 450px){
        font-size:1.3rem;
    }  
}

.bloc-avantage{
    background-color: $primary;
    border-radius: 20px;
    padding:20px;
    width:100%;
    margin:10px;
}
.avantage_div_icon{
    width:100%; 
    text-align: center;
}

.iframe_presentation, .iframe_association{
    @media screen and (max-width : 960px){
    height: 400px; 
    padding: 30px 0px 0px 0px;
    }
}
.iframe_association{
    @media screen and (min-width : 960px){
        height: 500px; 
        padding: 30px 0px 0px 0px;
        }
}

.info_animaux {
    position:absolute;
    left:5px;
    top:2px;
}

.badge-blue {
    background-color:#045288;
}
.badge-pink{
    background-color:#c83d75;
}

/* Footer */
.hr_footer{
    margin-top:40px;
    @media screen and (min-width : 720px){
    display:none;
    }
} 
.dog-filter {
    max-width: 250px;
    @media screen and (max-width : 540px){
        max-width: 100%;
        width: 100%;
        }
}

/*events */
.calendar_icons{
    width:20px;
    height:20px;
    fill:$primary;
    margin-right: 5px;
}
