/*bloc avantages*/
.bloc-avantage{
    background-color: $primary;
    border-radius: 20px;
    padding:20px;
    width:100%;
    margin:10px;
}
.avantage_div_icon{
    width:100%; 
    text-align: center;
}
