
.lien_nu{ 
    text-decoration: none;
    color: black;
}
.lien-basic {
    color: $primary;
}
.lien-basic:hover {
    color:$primary_rollover;
}
.btn-1{
    background-color: $secondary;
    color:white;
}
.btn-1:hover{
    background-color: $secondary_rollover;
    color: white;
}
.link-white { //footer
    color: #e5e5e5;
}
.link-white:hover {
    color: white;
}